body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(131,58,180);
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background: linear-gradient(342deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}
.moves{
    color: white;
}
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container1{

    display: flex;
    margin: 1%;
    align-items: center;
}
.container2{
    margin: 1%;
    background-image: linear-gradient(to left top, #c5d326, #ffa200, #ff5a44, #ff0093, #e112eb);
    height: 80vh;
    width: 55vw;
    padding: 0.5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.start-btn{
    height: 6vh;
    width: 8vw;
    margin-right: 3%;

    font-size: 3vh;
}
.moves{
    font-size: 1.5vw;
}
.start-btn{
    border: 0;
    border-radius: 5px;
    color: white;
    background-color: rgb(15, 17, 24);
}
.inner-container {
    position: relative;
    width: 12vw;
    height: 17vh;
    background-color: black;
    margin: 1%;
    perspective: 1000px;
    border-radius: 10px;
}

.inner-container .card {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    border-radius: 10px;
}

.inner-container .card .front,
.inner-container .card .back {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    backface-visibility: hidden;
    font-size: 500%;
    border-radius: 10px;
}

.inner-container .card.front {
    background-color: black;
    transform: rotateY(0deg);
    border-radius: 10px;
}

.inner-container .card .back {
    background-color: whitesmoke;
    transform: rotateY(180deg);
    border-radius: 10px;
}
.clicked{
    color : grey;
}